<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/adddeptstyle.css"/>
    </head>
    <body>
        <form action = "/savedept" method = "POST">
            <div class = "formGroup">
                <span id = "addDeptID">Department ID:</span>
                <input type = "text" class = formInput placeholder="Enter Department ID" name = "DeptID" required>
                <span id = "addDepartment">Department:</span>
                <input type = "text" class = formInput placeholder="Enter Department" name = "department" required>
            </div>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>