<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/editdeptstyle.css"/>
    </head>
    <body>
        <form action = "/updatedept" method = "POST">
            <div class = "formGroup">
                <input type = "hidden" value = '<%= department.DeptID %>' name = "DeptID" >
                <span id = "addDepartment">Department:</span>
                <input type = "text" value = '<%= department.Department %>'name = "Department" required>
            </div>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>