@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
html,body{
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f0f3f6;
    color: #212112;
}

header{
    position: relative;
    width: 100%;
    top: 5%;
    height: 5%;
    background: dodgerblue;
    box-shadow: 0 10px 30px 0 rgba(33,33,33,0.15);
    display: flex;
    -webkit-transition : all 0.3s ease-out;
      transition : all 0.3s ease-out;
  }

header nav{
    overflow: hidden;
    background-color: dodgerblue;
    padding: 0px 5px;
    clear: right;
}

header nav a{
    background-color: DodgerBlue;
      float: left;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
}

header nav a:hover{
    background-color: #149CFC;
}

main{
    position:relative;
    top: 10%;
    width: 90%;
    min-height: 80%;
    border-radius: 11px;
    margin:0 auto;
    background: #f5f7fa;
    padding: 0
  }


#employeeTable{
    border-collapse: collapse;
    border-radius: 10px;
    margin-left:  auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    overflow: hidden;
}

#employeeTable tr.header{
    background-color: #149CFC;
    color: #ffffff;
    text-align: center;
}

#employeeTable th,
#employeeTable td{
    min-width: 200px;
    padding: 12px 15px;
    text-align: center;
}

#employeeTable tr{
    border-bottom: 1px solid #dddddd;
    color: #818181;
}

#employeeTable tr:nth-of-type(even){
    background-color: #f3f3f3;
}

#employeeTable tr:hover{
    background-color: #f3f3f3;
    color: black;
    cursor: pointer;
}